<div class="grid_3">
  <h1>Contacts</h1>
</div>
<div class="prefix_7 grid_6">
  Search:
  <input type="text" id="search" />
  <input type="submit" value="Search" />
</div>
<div class="clear"></div>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>E mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.address %></td>
    <td><%= contact.city %></td>
    <td><%= contact.state %></td>
    <td><%= contact.zip %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.e_mail %></td>
    <td><%= link_to image_tag( "vcard.png", :alt =>'Show'), contact %></td>
    <td><%= link_to image_tag( "vcard_edit.png", :alt =>'Edit'), edit_contact_path(contact) %></td>
    <td><%= link_to image_tag( "vcard_delete.png", :alt =>'Destroy'), contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag( "vcard_add.png", :alt =>'New Contact'), new_contact_path %>
